meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title FARMER ONE REGISTRATION
link(rel="stylesheet", href="/css/styles.css")
link(rel="stylesheet", href="/bootstrap/bootstrap.min.css")
h1 Famer one registration
form(name="registration", action='/fRegister', method='POST')
  .container
    .form-row
      .form-group.col-md-4
        label(for="First name")
          | First Name 
          span(style="color: red;") *
        input.form-control#firstName(type="text", name="firstName", placeholder="FIRST NAME", required)
        #error1(style="display: none; color:red;") First Name is required
      .form-group.col-md-4
        label(for="Surname")
          | Surname 
          span(style="color: red;") *
        input.form-control#surName(type="text", name="surName", placeholder="SURNAME", required)
        #error2(style="display: none; color:red;") Surname is required
      .form-group.col-md-4
        label(for="date of birth")
          | Date of birth
          span(style="color: red;") *
        input.form-control#dateOfBirth(type="date", name="dateOfBirth", placeholder="Date of birth")
    .form-row
      .form-group.col-md-3
        label(for="Phone number")
          | Phone number
          span(style="color: red;") *
        input.form-control#userNumber(type="text", name="usernumber", placeholder="CONTACT", required)
        #error1(style="display: none; color:red;") Number required
      .form-group.col-md-3
        label(for="nin")
          | NIN
          span(style="color: red;") *
        input.form-control#nin(type="text", name="nin", placeholder="Enter NIN", required)
        #error2(style="display: none; color:red;") NIN is required
      .form-group.col-md-6
        label(for="date of registration")
          | Date of registration
          span(style="color: red;") *
        input.form-control#dateOfRegistration(type="datetime-local", name="dateOfRegistration", placeholder="Date of registration", required)
        #error2(style="display: none; color:red;") date of registration is required
      .form-row
        .form-group.col-md-6
          label(for="residence")
            | Residence
            span(style="color: red;") *
          input.form-control#residence(type="text", name="residence", placeholder="RESIDENCE", required)
          #error1(style="display: none; color:red;") residence is required
        .form-group.col-md-6
          label(for="Directions to recidence")
            | Directions to residence
            span(style="color: red;") *
          input.form-control#directionsToResidence(type="text", name="directionsToResidence", placeholder="Enter DIRECTIONS", required)
          #error2(style="display: none; color:red;") Acitivities taken required
    .form-row
      input(type="submit", name="submit", onclick="subform()", value="submit")
script(src="/js/farmOneReg.js")
script(src="/bootstrap/bootstrap.min.js")