<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>name</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/bootstrap/bootstrap.min.css">
</head>

<body>
    <div class="formStyle">
        <form name="registration" action=" /process" method="GET">
            <ul>
                <li><label for="name"></label></li>

                <li><input type="text" placeholder="name:" name="username" size="46" /></li>

                <li>
                    <label for="ward"></label></li>

                <li><input type="ward" placeholder="ward: " name="wardid " size="46 " /></li>

                <li><label for="FO number "></label></li>
                <input type="text " placeholder="number: " name="usernumber " size="46 " /></li>

                <li><label for="address "></label></li>
                <li><input type="text " placeholder="Address: " name="address " size="46 " /></li>
                <li><label for="country "></label></li>
                <li><select name="ward" placeholder="ward: ">
                        <option selected=" " value="Default ">(Please select a country)</option>
                        <option value="AF ">1</option>
                        <option value="AL ">2</option>
                        <option value="DZ ">3</option>
                        <option value="AS ">4</option>
                        <option value="AD ">5</option>
                    </select></li>
                <li><label for="NIN number"></label></li>
                <li><input type="text " name="NIN number" placeholder="NIN number: " size="46 " /></li>
                <li><label for="phone number"></label></li>
                <li><input type="text" name="phone number" placeholder="phone number: " size="46 " /></li>
                <li><label id="gender "></label></li>

                <!-- Removed checked from the input radio input sex and added the various ids. -->
                <li><input type="radio " name="sex " id="sexM " value="Male " /><span>Male</span></li>
                <li><input type="radio " name="sex " id="sexF " value="Female " /><span>Female</span></li>
                <li><label id=language></label></li>


                <!-- Added onclick assigned to the method subForm -->
                <li><input type="button " name="submit " onclick=subForm() value="Submit " /></li>
            </ul>
        </form>
    </div>
    <script src="./App.js "></script>
</body>


<script src="/public/bootstrap/bootstrap.min.js "></script>
</body>

</html>

</html>