<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>name</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/bootstrap/bootstrap.min.css">
</head>

<body>

    <body>
        <h1>PRODUCT REGISTRATION</h1>
        <form name="registration" action="">
            <div class="container">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="product name">Product Name<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" name="productName" id="productName"
                            placeholder="Enter Product Name" required>
                        <div id="error1" style="display: none; color:red;">Product name is required</div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Ward">WARD<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" name="ward" id="ward" placeholder="Enter Ward" required>
                        <div id="error2" style="display: none; color:red;">Ward is required</div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="date">Date<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" name="date" id="date" placeholder="DATE">
                        <div id="error1" style="display: none; color:red;">date is required</div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="price">PRICE<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" name="price" id="price" placeholder="Price" required>
                        <div id="error1" style="display: none; color:red;">Price is required</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="quantity">Quantity<span style="color: red;">*</span></label>
                        <input type="text" class="form-control" name="quantity" id="quantity" placeholder="quantity"
                            required>
                        <div id="error2" style="display: none; color:red;">Quantity is required</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Mode of payment">Mode of payment<span style="color: red;">*</label>
                        <input type="text" class="form-control" placeholder="mode of payment" name="modeOfPayment"
                            id="modeOfPayment" required>
                        <div id="error2" style="display: none; color:red;">mode of payment is required</div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="produce">PRODUCE<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" name="produceType" id="produceType"
                                placeholder="Produce Type" required>
                            <div id="error1" style="display: none; color:red;">Produce type is required</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="directions to recidence">Directions to residence<span
                                    style="color: red;">*</span></label>
                            <input type="text" class="form-control" name="directionsToResidence"
                                id="directionsToResidence" placeholder="Enter directions" required>
                            <div id="error2" style="display: none; color:red;">Acitivities taken required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <input type="submit" name="submit" onclick=subform() value="submit" />
                </div>
            </div>
        </form>
        <script src="../public/js/productReg.js"></script>
        <script src="../public/bootstrap/bootstrap.min.js"></script>
    </body>

</html>

</html>