<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBAN FARMER REGISRTATION</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
</head>

<body>
    <h1>Urban famer registration form</h1>
    <form name="registration" action="">
        <div class="container">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first name">First Name <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="FISRT NAME"
                        required>
                    <div id="error1" style="display: none; color:red;">First Name is required</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="first name">Surname <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" name="surName" id="surName" placeholder="SURNAME" required>
                    <div id="error2" style="display: none; color:red;">Surname is required</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="date of birth">Date of birth<span style="color: red;">*</span></label>
                    <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth"
                        placeholder="DATE OF BIRTH">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="phone number">Phone number<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="CONTACT"
                        required>
                    <div id="error1" style="display: none; color:red;">First Name is required</div>
                </div>
                <div class="form-group col-md-3">
                    <label for="nin">NIN<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" name="nin" id="nin" placeholder="NIN" required>
                    <div id="error2" style="display: none; color:red;">NIN is required</div>
                </div>
                <div class="form-group col-md-6">
                    <label for="date of registration">Date of registration<span style="color: red;">*</label>
                    <input type="datetime-local" class="form-control" name="dateOfRegistration" id="dateOfRegistration"
                        placeholder="date of registration" required>
                    <div id="error2" style="display: none; color:red;">date of registration is required</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="ward">WARD<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" name="ward" id="ward" placeholder="Enter WARD" required>
                    <div id="error1" style="display: none; color:red;">ward is required</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="activities taken">Activities undertaken<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" name="acitivitiesUnderTaken" id="acitivitiesUnderTaken"
                        placeholder="Enter ACITIVITIES" required>
                    <div id="error2" style="display: none; color:red;">Acitivities taken required</div>
                </div>
                <div class="form-group col-md-4">
                    <label for="unique id">ID<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" name="userId" id="userId" placeholder="USER ID">
                </div>
            </div>
            <div class="form-row">
                <input type="submit" name="submit" onclick=subform() value="submit" id="submit" />
            </div>
        </div>
    </form>

    <script src="/js/uFarmReg.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
</body>

</html>

</html>