<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>name</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/bootstrap/bootstrap.min.css">
</head>

<body>
    <h1>JavaScript Field Label Form Validation using a registration form</h1>

    <h2>Use tab key or mouse to go next field</h2>

    <!-- Under action we can link to database using action -->

    <div class="formStyle">
        <form name="registration" action=" /process" method="GET">
            <ul>
                <li><label for="name"></label></li>

                <li><input type="text" placeholder="name:" name="username" size="46" /></li>

                <li><label for="username"></label></li>

                <li><input type="date of birth" placeholder="date of birth:" name="date of birthid" size="46" /></li>

                <li><label for="date of registration"></label></li>

                <li><input type="text" placeholder="date of registration:" name="date of registration" size="46" /></li>

                <li><label for="address"></label></li>
                <li><input type="text" placeholder="Address:" name="address" size="46" /></li>
                <li><label for="ward name"></label></li>
                <li><select name="country" placeholder="Country:">
                        <option selected="" value="Default">(Please select a country)</option>
                        <option value="AF">Australia</option>
                        <option value="AL">Canada</option>
                        <option value="DZ">India</option>
                        <option value="AS">Russia</option>
                        <option value="AD">USA</option>
                    </select></li>
                <li><label for="zip"></label></li>
                <li><input type="text" name="zip" placeholder="ZIP Code:" size="46" /></li>
                <li><label for="email"></label></li>
                <li><input type="text" name="email" placeholder="Email:" size="46" /></li>
                <li><label id="gender"></label></li>

                <!-- Removed checked from the input radio input sex and added the various ids. -->
                <li><input type="radio" name="sex" id="sexM" value="Male" /><span>Male</span></li>
                <li><input type="radio" name="sex" id="sexF" value="Female" /><span>Female</span></li>
                <li><label id=language></label></li>

                <!-- Removed checked from the input checkbox and added the various ids -->
                <li><input type="checkbox" name="en" id="Eng" value="en" /><span>English</span></li>
                <li><input type="checkbox" name="nonen" id="Neng" value="noen" /><span>Non English</span></li>
                <li><label for="desc"></label></li>
                <li><textarea name="desc" placeholder="About [Optional]" id="desc"></textarea></li>

                <!-- Added onclick assigned to the method subForm -->
                <li><input type="button" name="submit" onclick=subForm() value="Submit" /></li>
            </ul>
        </form>
    </div>
    <script src="./test.js"></script>
    <script src="/public/bootstrap/bootstrap.min.js"></script>
</body>

</html>

</html>